.top {
    margin-top: 40px;
 
}

.ficha {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 120px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5%;
  
  
}
.container {
  margin-top: 50px;
}

.producto {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 100%;
  border: 1px solid lightseagreen;
  padding: 10px 20px;
  margin-right: 15px;
 

}



.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;

}
